.navbar {
    width: 100%;
    color: white;
    font-size: 20px;
    position: fixed;
    top: 0;
    z-index: 999;
  }
  
    .container {
      padding: 0px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;}
  
      .left {
        display: flex;
        align-items: center;
      }

      .right {
        display: flex;
        align-items: center;
      
      }
  
        
            
       
        
        